<section class="abstracts" id="abstracts">
    <div class="container">

        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].abstracts }}</h4>
        </div>

        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/michele_orsi.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Michele Orsi</p>
                <img src="/images/manuel-carlo-ranieri.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Manuel Ranieri</p>
            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>Tales from Lastminute.com Machine Room: Our Journey Towards a Full On-Premise Kubernetes Architecture in Production</h5>
                <p>We sell travel services to more than 10 million customers worldwide in 15 languages across 35 countries, through hundreds of micro-services.

                </p><p> What happens if you challenge the way you deliver your products with a new infrastructure based on Kubernetes?
                    You’ll have to face classical developing, deploying and monitoring paradigms and bring everything to an entirely different level. It will also have to kept in mind that the business expects continuous delivery of new features without impact on the final customers experience.

            </p><p>In this presentation we will explore our one-year-long journey to move a full business flow from a well-known legacy platform to Kubernetes through a seamless migration.
                    We’ll dive into the full tech stack, from the services we give to our development teams to the way we provision servers, without forgetting the secret sauce we applied to make it happen.

            </p><p> We will not hide the failures, the problems and the wrong assumptions we made along the way, but we will celebrate lessons learnt and the goal we achieved; allowing us to boost time-to-market and reliability of our systems.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/giulio_de_donato.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Giulio De Donato</p>
            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>Container orchestration: the cold war</h5>
                <p>L’ecosistema degli orchestratori di container è in rapido movimento,
                    una galassia di piattaforme e framework.
                    Come si fa a scegliere quello giusto per le vostre esigenze?
                    Vediamo tutti gli orchestratori in commercio, con i loro pro e contro: DC/OS, Kubernetes, Docker e anche quelli meno famosi ma che saranno promesse.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/question-mark15.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p> you? </p>
            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>More talks soon</h5>
                <h3><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfmpVfKAJkBKiR8g0FAfoCQLXTPY0cVKFe0abqsvPkGUwj7gg/viewform" class="text-left hidden-sm btn btn-lg btn-default btn-block" style="    text-align: left;">
                    {{ site.data.t[page.locale].submit_cfp }}</a>
                </h3>
                <p> {{ site.data.t[page.locale].submit_cfp_more }}</p>
            </blockquote>
        </div>





    </div>
</section>
