<section class="abstracts" id="abstracts">
    <div class="container">

        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].abstracts }}</h4>
        </div>

        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/michele_orsi.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Michele Orsi</p>
            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>Kubernetes and lastminute.com: our course towards better scalability and processes</h5>
                <p>Kubernetes adoption is straight forward when starting from scratch or in public clouds, but what the journey looks like when your starting point is a legacy infrastructure with high-traffic?
                    In this talk we present our experience that begun almost 1 year ago and challenged everything inside our organisation. Developer teams changed the way they work, product owners benefit from the new speed achieved and the need of new roles emerged in IT department.
                    We will explain our lessons learnt and the way to get the best out of this solution.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/giulio_de_donato.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Giulio</p>
            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>Container orchestration: the cold war</h5>
                <p>L’ecosistema degli orchestratori di container è in rapido movimento, una galassia di piattaforme e framework. Come si fa a scegliere quello giusto per le vostre esigenze? Vediamo tutti gli orchestratori in commercio, con i loro pro e contro: DC/OS, Kubernetes, Docker e anche quelli meno famosi ma saranno promesse, e anche le dinamiche e le scelte fatte.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-8 text-center">
                <h3> More talks soon </h3>
            </div>
            <div class="col-lg-12 text-center">
                    <h3><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfmpVfKAJkBKiR8g0FAfoCQLXTPY0cVKFe0abqsvPkGUwj7gg/viewform" class="hidden-sm btn btn-lg btn-default btn-block">{{ site.data.t[page.locale].submit_cfp }}</a>
                </h3>
            </div>



        </div>



    </div>
</section>
