<footer>

	<div>
		 <a href="4devops.it">4Devops Italia</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3 portfolio-item">
				<a href="http://www.biodec.com" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							<!-- <i class="fa fa-search-plus fa-3x"></i> -->
						</div>
					</div>
					<img src="/images/company-logo-biodec.png" class="img-responsive" alt="">
				</a>
			</div>
			<div class="col-sm-3 portfolio-item">
				<a href="https://www.ideato.it/" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							<!-- <i class="fa fa-search-plus fa-3x"></i> -->
						</div>
					</div>
					<img src="/images/company-logo-ideato.png" class="img-responsive" alt="">
				</a>
			</div>
			<div class="col-sm-3 portfolio-item">
				<a href="http://www.kiratech.it" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							<!-- <i class="fa fa-search-plus fa-3x"></i> -->
						</div>
					</div>
					<img src="/images/company-logo-kiratech.png" class="img-responsive" alt="">
				</a>
			</div>
			<div class="col-sm-3 portfolio-item">
				<a href="http://xpeppers.com" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							<!-- <i class="fa fa-search-plus fa-3x"></i> -->
						</div>
					</div>
					<img src="/images/company-logo-xpeppers.png" class="img-responsive" alt="">
				</a>
			</div>
		</div>



	</div>

<!--
    <div class="social-icons">
        <a href="#" class="wow zoomIn"> <i class="fa fa-twitter"></i> </a>
        <a href="#" class="wow zoomIn" data-wow-delay="0.2s"> <i class="fa fa-facebook"></i> </a>
        <a href="#" class="wow zoomIn" data-wow-delay="0.4s"> <i class="fa fa-linkedin"></i> </a>
    </div>
-->

</footer>
