<section class="schedule" id="schedule">

    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].schedule }}</h4>

            <h5>{{ site.data.t[page.locale].schedule_placeholder }}</h5>

            <h5>{{ site.data.t[page.locale].schedule_summary}}</h5>
        </div>

        <div class="nav-center">
            <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                <li role="presentation" ><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">23rd - Workshops</a></li>
                <li role="presentation"class="active"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">24th - Conference</a></li>
            </ul>

        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="day1">


                <section class="timeline">
                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Breakfast</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">08:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Gathering &amp; Welcome Speech</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by Jamie Hefford</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Getting back into the deliverables business</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by George Burton</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">10:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Successful Marketing Strategy</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by Carol Wood </p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">12:30 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Lunch</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">01:30 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Predict the future with an old trick</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by Cody Nesbit</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">03:00 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Closing Thoughts</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">06:00 PM</span>
                        </div>
                    </div>
                </section>


            </div>
            <div role="tabpanel" class="tab-pane active" id="day2">

                <section class="timeline">
                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>Check-in</h2>
                            <span class="date">09:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>Welcome Speech
                                <span>4devops and lastminute.com</span></h2>
                            <span class="date">09:40 AM</span>
                        </div>

                    </div>


                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>Downtime is not an option -
                                <span>How DC/OS keeps apps running despite failures and updates</span></h2>
                            <p>by Jörg Shad</p>
                            <span class="date">10:00</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>Coffee break</h2>
                            <span class="date">10:45 AM</span>
                        </div>
                    </div>



                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>Tales from Lastminute.com Machine Room:
                                <span>Our Journey Towards a Full On-Premise Kubernetes Architecture in Production</span></h2>
                            <p>by Michele Orsi, Manuel Ranieri</p>
                            <span class="date">11:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>Container orchestration: the cold war</h2>
                            <p>by Giulio De Donato</p>
                            <span class="date">11:45 AM</span>
                        </div>
                    </div>


                    <div class="timeline-block">
                        <div class="timeline-bullet">
                        </div>

                        <div class="timeline-content">
                            <h2>Lunch time</h2>
                            <span class="date">12:30 AM - 2:00 PM</span>
                        </div>
                    </div>


                    <div class="timeline-block">
                        <div class="timeline-bullet">
                        </div>

                        <div class="timeline-content">
                            <h2>Boycott Docker</h2>
                            <p>Paolo Tonin</p>
                            <span class="date">2:00 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">
                        </div>

                        <div class="timeline-content">
                            <h2>Hardware Virtualized Container Runtimes</h2>
                            <p>Lorenzo Fontana</p>
                            <span class="date">2:40 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">
                        </div>

                        <div class="timeline-content">
                            <h2>Mixed VMs and Containers workloads with Kubernetes</h2>
                            <p>Andrea Tosatto</p>
                            <span class="date">3:30 PM</span>
                        </div>
                    </div>


                    <div class="timeline-block">
                        <div class="timeline-bullet">
                        </div>

                        <div class="timeline-content">
                            <h2>Coffee break - with sharing the experiences</h2>
                            <p>1 hour of community</p>
                            <span class="date">4:15 PM</span>
                        </div>
                    </div>


                    <div class="timeline-block">
                        <div class="timeline-bullet">
                        </div>

                        <div class="timeline-content">
                            <h2>Closing Thoughts</h2>
                            <span class="date">5:15 PM</span>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </div>

</section>
