<section class="sponsors" id="sponsors">
    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].section_title_organizers }}</h4>
        </div>

    </div>




    <div class="row abstract">
        <div class="col-xs-5 col-sm-4 text-center">
            <a href="http://www.lastminute.com/" target="_blank" class="sponsor">
                <img src="/images/lastminute.png" class="img-responsive" alt="Last Minute">
            </a>
        </div>
        <blockquote class="col-xs-6 col-sm-8 blockquote">

            <p>We are an international listed Group, among the worldwide leaders in the online travel industry, and we operate a portfolio of well-known brands such as lastminute.com, Bravofly, Rumbo, Volagratis and Jetcost.
            </p><p>We are a technological company at his core, headquartered in Switzerland (Chiasso), with offices in Milan, Madrid, London, Bengaluru, where more than 1,100 people enjoy working with us.

        </p><p>Every month the Group reaches across all its websites and mobile apps (in 17 languages and 40 countries) 43 million users that search for and book their travel and leisure experiences.
        </p><p>This is possible thanks to the 300+ people in Tech who are building and evolving a scalable and resilient platform. At the moment we have 135 different modules, 150 DB schemas, 3300 tables and TB  of data to store. The biggest challenge is the growth of complexity of our infrastructure: in 3 years we grew from 45 to 135 modules.
        </p>


        </blockquote>
    </div>

    <div class="row abstract">
        <div class="col-xs-5 col-sm-4 text-center">
            <a href="http://www.4devops.it/" target="_blank" class="sponsor main">
                <img src="/images/4devops.png" class="img-responsive" alt="XPeppers">
            </a>
        </div>
        <blockquote class="col-xs-6 col-sm-8 blockquote">

            <p>4DevOps è un'alleanza di quattro aziende che operano sul territorio italiano ed europeo:
                abbiamo un'esperienza ormai pluriennale nel trattare i temi dell'IT,
                e abbiamo deciso di unire la nostra proposta commerciale DevOps per meglio servire i nostri clienti.
            </p>


            <p>4DevOps intende offrire alle aziende un metodo, le tecnologie e l’esperienza per intraprendere un processo di adeguamento del proprio IT. L’obiettivo delle aziende che compongono 4DevOps è di creare valore per i propri clienti, aiutandoli ad adottare i principi e le tecniche DevOps.
            </p>


            <div class="col-xs-12">
            <div class="col-sm-3 portfolio-item">
                <a href="http://www.biodec.com" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="/images/company-logo-biodec.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="https://www.ideato.it/" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="/images/company-logo-ideato.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="http://www.kiratech.it" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="/images/company-logo-kiratech.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="http://xpeppers.com" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                        </div>
                    </div>
                    <img src="/images/company-logo-xpeppers.png" class="img-responsive" alt="">
                </a>
            </div>
            </div>
        </blockquote>
    </div>


</section>
