<section class="sponsors" id="sponsors">
    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].section_title_organizers }}</h4>
        </div>
        <div class="sponsors-slider">
            <a href="http://www.4devops.it/" target="_blank" class="sponsor main">
                <img src="/images/4devops.png" class="img-responsive" alt="XPeppers">
            </a>
            <a href="http://www.lastminute.com/" target="_blank" class="sponsor">
                <img src="/images/lastminute.png" class="img-responsive" alt="Last Minute">
            </a>

        </div>
    </div>

</section>
