<div class="g-maps" id="venue">

    <!-- Tip:  You can change location, zoom, color theme, height, image and Info text by changing data-* attribute below. -->
    <!-- Available Colors:    red, orange, yellow, green, mint, aqua, blue, purple, pink, white, grey, black, invert -->

    <!-- div class="map" id="map_canvas" data-maplat="45.8289397" data-maplon="8.9803456" data-mapzoom="6" data-color="mint" data-height="400" data-img="/images/marker.png" data-info="{{ site.data.t[page.locale].location }}"></div>
    -->
    <div class="section-title wow fadeInUp">
        <h4>{{ site.data.t[page.locale].venue }}</h4>
    </div>

    <p class="text-center"><a href="https://goo.gl/maps/5EQ1nhSNq6n">
    Workshops: Palazzo dei Congressi Lugano, Piazza Indipendenza 4, 6900 Lugano, Switzerland</a></p>
    <p class="text-center"><a href="https://goo.gl/maps/51UEVdpSbPw">Conference: lastminute.com Offices, via Valdani 1, 6830, Chiasso Switzerland</a></p>

    <a href="https://goo.gl/maps/51UEVdpSbPw"><img class="img-responsive" src="/images/chiasso.jpg"></a>
</div>
