<div class="g-maps" id="venue">

   
    <div class="section-title wow fadeInUp">
        <h4>{{ site.data.t[page.locale].venue }}</h4>
    </div>

 
     <h5 class="text-center">How to reach The venue</h5>
     <p class="text-center"><a href="https://goo.gl/maps/51UEVdpSbPw">Conference: lastminute.com Offices, via Valdani 1, 6830, Chiasso Switzerland</a></p>
    <p class="text-center">From Lugano Train Station you can catch the Tilo to Chiasso at 8:42. </p>
     <p class="text-center">From Milano Centrale Train Station you can catch the Regio Express to Erstfeld at 8:10.  </p>
    <p class="text-center"> <img width=400 src="/images/reach.jpg"></p>
 
   
    
    
   
</div>
