<div class="g-maps" id="venue">

    <!-- Tip:  You can change location, zoom, color theme, height, image and Info text by changing data-* attribute below. -->
    <!-- Available Colors:    red, orange, yellow, green, mint, aqua, blue, purple, pink, white, grey, black, invert -->

    <div class="map" id="map_canvas" data-maplat="45.8289397" data-maplon="8.9803456" data-mapzoom="6" data-color="green" data-height="400" data-img="images/marker.png" data-info="{{ site.data.t[page.locale].location }}"></div>
</div>
