
<header id="top" class="header">
    <div class="container">
        <div class="header_top-bg1">
            <div class="logo">
                <a href="#" class="heading fadeInDown">
                    <h1>Building Microservices
                    </h1>
                    <h4>Using Containers to Build a Microservices Architectures in the Cloud
                    </h4>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <h4>Contenuto del workshop</h4>
    <p>Le sfide che portano ad un sistema distribuito basato su microservizi sono molte. Le aziende devono spesso modificare il loro modo di sviluppare, il loro modello organizzativo deve adattarsi ai processi DevOps e le scelte tecniche devono essere orientate a disaccoppiare il più possibile i componenti.
        <br>
        Amazon Web Services sta rapidamente abbracciando architetture basate su microservizi cloud-native. Per velocizzare l’adozione dei microservizi AWS ha introdotto Docker come sistema per “containerizzare” i carichi di lavoro. In particolare AWS ha lanciato il servizio ECS (Amazon Elastic Container Service) per gestire in maniera semplice ed efficiente un cluster di tali container e ECR (Elastic Container Registry) come registro di contenitori Docker completamente gestito.
        <br>
        Durante il workshop impareremo a usare tali servizi insieme ai servizi di CI/CD come CodeBuild e Codepipeline con l’obiettivo di creare una Pipeline di CI che va dalla build dell’immagine docker fino al deploy su un Cluster ECS in maniera completamente automatizzata. 
    </p>
    <h4>Cosa impareremo</h4>
    <p>Impareremo a creare un Cluster ECS in grado di scalare e adattarsi al Workload. Impareremo a passare dal docker compose ai task/service di ECS utilizzando la CLI di Amazon con l’obiettivo di lanciare sul cluster in nostri container. Impareremo a creare una Pipeline di CI/CD che va dal test di un microservizio fino al deploy su ECS passando per la creazione automatica dell’infrastruttura con Cloudformation.
    </p>
    <h4>Argomenti</h4>
    <ul>
        <li>Deploy a containerized service on Amazon ECS</li>
        <li>Build and Test a Docker image with AWS CodePipeline and CodeBuild</li>
        <li>Create Infrastructure with AWS CodePipeline and AWS Cloudformation</li>
        <li>Make a simple UAT with AWS Lambda</li>
    </ul>
    <h4>A chi è rivolto</h4>
    <p>DevOps Engineer, Systems Engineer, Developer
    </p>
    <h4>Prerequisiti</h4>
    <ul>
        <li>Docker engine and compose</li>
        <li>AWS CLI</li>
        <li>Editor (Atom, Sublime, etc)</li>
        <li>Maven</li>
    </ul>

</div>



<div class="container">
    <h4 class="headline wow fadeInDown" data-wow-delay="0.1s">Prendi il biglietto</h4>
    <p>I workshop saranno svolti presso il Palazzo dei Congressi Lugano. L'acquisto del workshop da diritto all'accesso gratuito alla conferenza del giorno seguente.</p>
    <div class="eventbrite-container">
        <iframe  src="//eventbrite.it/tickets-external?eid=33706326530&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.it/r/etckt">Eventbrite</a></div>
    </div>
</div>

        </div>
    </div>