
<header id="top" class="header">
    <div class="container">
        <div class="header_top-bg1">
            <div class="logo">
                <a href="#" class="heading fadeInDown">
                    <h1>Build, test and run a microservice in AWS ECS
                    </h1>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <h4>Contenuto del workshop</h4>
    <p>Le sfide che portano ad un sistema distribuito basato su micro-servizi sono molte. Le aziende devono spesso modificare il loro modo di sviluppare, il loro modello organizzativo deve adattarsi ai processi DevOps e le scelte tecniche devono essere orientate a disaccoppiare il più possibile i componenti.
        <br>
        Amazon Web Services sta rapidamente abbracciando architetture basate su micro-servizi cloud-native. Per velocizzare l’adozione dei micro-servizi AWS ha introdotto Docker come sistema per “containerizzare” i carichi di lavoro di applicazioni esistenti o nuove. In particolare AWS ha lanciato il servizio ECS (Amazon Container Service) per gestire in maniera semplice ed efficiente un cluster di tali container e ECR (Elastic Container Registry) come registro di contenitori Docker completamente gestito.
        <br>
        Durante il workshop metteremo in piedi una pipeline attraverso il servizio AWS CodePipeline che ci permetterà di automatizzare il flusso che va dalla creazione dell’intera infrastruttura, utilizzando AWS Cloudformation, fino all’esecuzione del servizio sul cluster Amazon ECS. Vedremo poi come Amazon Blox (progetto open-source) ci fornisce una serie di API per creare orchestratori personalizzati.
    </p>
    <h4>Argomenti</h4>
    <ul>
        <li>Deployment on AWS (CLoudformation, Opsworks, Beanstalk)</li>
        <li>CI&CD on AWS (CodeDeploy, CodeBuild, CodePipeline)</li>
        <li>Container on AWS (Elastic Container Services)</li>
        <li>All together: build, test and run a microservices</li>
    </ul>
    <h4>Cosa impareremo</h4>
    <p>Impareremo a creare una Pipeline di CI&CD che va dal test di un micro servizio fino al deploy su un cluster di container docker passando per la creazione automatica dell’infrastruttura (Infrastruttura come codice).
    </p>
    <h4>A chi è rivolto</h4>
    <p>DevOps Engineer, Systems Engineer, Developer
    </p>
    <h4>Requisiti</h4>
    <p>Notebook con:
    </p>
    <ul>
        <li>Docker</li>
        <li>Apache Maven</li>
        <li>Editor (Atom, Sublime, etc)</li>
        <li>AWS Command Line</li>
    </ul>

</div>



<div class="container">
    <h4 class="headline wow fadeInDown" data-wow-delay="0.1s">Prendi il biglietto</h4>
    <p>I workshop saranno svolti presso il Palazzo dei Congressi Lugano. L'acquisto del workshop da diritto all'accesso gratuito alla conferenza del giorno seguente.</p>
    <div class="eventbrite-container">
        <iframe  src="//eventbrite.it/tickets-external?eid=33457560464&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.it/r/etckt">Eventbrite</a></div>
    </div>
</div>

        </div>
    </div>