
<header id="top" class="header">
    <div class="container">
        <div class="header_top-bg1">
            <div class="logo">
                <a href="#" class="heading fadeInDown">
                    <h1>Progettare e far evolvere infrastrutture su AWS
                    </h1>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <h4>Contenuto del workshop</h4>
            <p>Questo workshop &egrave; rivolto a sistemisti, cloud architect, it managers che gi&agrave; utilizzano i servizi di AWS e che vogliono approfondire gli aspetti legati al design di infrastrutture resilienti e altamente disponibili. Nella prima parte verranno analizzati i servizi che permettono di raggiungere questo obiettivo, fornendo tecniche avanzate e seguendo best practice consigliate da AWS. Nella seconda parte analizzeremo come aumentare la sicurezza delle infrastrutture AWS utilizzando i servizi base e quelli piu recenti tipicamente meno considerati</p>
            <p><strong></strong></p>
            <p>Alla fine del corso saprai disegnare e implementare infrastrutture cloud AWS performanti, sicure ed affidabili con un&rsquo;attenzione anche al contenimento e ottimizzazione dei costi.</p>
            <p><strong></strong></p>
            <h4>Scaletta</h4>
            <ul>
                <li>Architetture tradizionali VS Design for failure</li>
                <li>Disegnare e implementare infrastrutture per applicazioni multi-tier scalabili e resilienti</li>
                <li>Disaster recovery e business continuity</li>
                <li>Gestione del rischio e servizi di protezione del dato su AWS</li>
                <li>Tecniche per disegnare infrastrutture per minimizzare e ottimizzare i costi</li>
            </ul>
            <h4>Chi siamo</h4>
            <p>ideato.it &egrave; azienda partner Amazon AWS, si occupa di gestire e far evolvere infrastrutture che spaziano dal FinTech, all&rsquo;IOT per arrivare a portali con oltre 100Mln utenti/mese.</p>
</div>



<div class="container">
    <h4 class="headline wow fadeInDown" data-wow-delay="0.1s">Prendi il biglietto</h4>
    <p>I workshop saranno svolti presso il Palazzo dei Congressi Lugano. L'acquisto del workshop da diritto all'accesso gratuito alla conferenza del giorno seguente.</p>
    <div class="eventbrite-container">
        <iframe  src="//eventbrite.it/tickets-external?eid=33706326530&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.it/r/etckt">Eventbrite</a></div>
    </div>
</div>

        </div>
    </div>