<section class="abstracts" id="abstracts">
    <div class="container">

        <div class="section-title wow fadeInUp">
            <h4>WORKSHOPS</h4>
        </div>


        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/paolo.latella.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Paolo Latella <br>- XPeppers</p>
            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>Building Microservices</h5>
                <p>Using Containers to Build a Microservices Architectures in the Cloud.
                    <br><a href="/workshop-microservices-aws-ecs">More info ></a>
                </p></blockquote>
        </div>

        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/francesco.tornieri.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Francesco Tornieri <br>- Kiratech</p>
            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>Docker course</h5>
                <p>The workshop will introduce the Docker ecosystem and the principle concepts related to containers world.
                    <br><a href="/workshop-corso-docker">More info ></a></p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-xs-3 col-sm-2 text-center">
                <img src="/images/paolo.tonin.jpeg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Paolo Tonin<br>- Ideato</p>

            </div>
            <blockquote class="col-xs-9 col-sm-10 blockquote">
                <h5>Progettare e far evolvere infrastrutture su AWS</h5>
                <p>Questo workshop è rivolto a sistemisti, cloud architect, it managers che già utilizzano i servizi di AWS e che vogliono approfondire gli aspetti legati al design di infrastrutture resilienti e altamente disponibili.
                    <br><a href="/workshop-infrastruttura">More info ></a></p>
            </blockquote>
        </div>



    </div>
</section>
