
<header id="top" class="header">
    <div class="container">
        <div class="header_top-bg1">
            <div class="logo">
                <a href="#" class="heading fadeInDown">
                    <h1>Corso Docker
                    </h1>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>Contenuto del workshop</h4>
            <p>Docker &egrave; un progetto open source che automatizza il deployment di applicazioni all&rsquo;interno di Container software, fornendo un&rsquo;astrazione addizionale grazie alla virtualizzazione a livello di sistema operativo. Docker utilizza le funzionalit&agrave; di isolamento delle risorse del kernel Linux come ad esempio cgroups e namespaces per consentire a &ldquo;container&rdquo; indipendenti di coesistere sulla stessa istanza, evitando l&rsquo;installazione e la manutenzione di una macchina virtuale.</p>
            <p><strong></strong></p>
            <h4>Intro:</h4>
            <p>Il workshop sar&agrave; introduttivo all&rsquo;ecosistema Docker e ai principali concetti legati al mondo dei container.</p>
            <p><strong></strong></p>
            <p>Durante il workshop verranno presentate slide ed esercizi su argomenti avanzati: demo da istanze AWS (swarm e overlay inclusi) con immagini basate su alpine, incluse le nuove features di sicurezza e data volume.</p>
            <p><strong></strong></p>
            <h4>Prerequisiti:</h4>
            <p>&Egrave; richiesta familiarit&agrave; con gli ambienti UN*X sia per quanto concerne i concetti di funzionamento (servizi, permessi, filesystem, &hellip;) sia per l&rsquo;utilizzo dell&rsquo;ambiente a riga di comando.</p>
            <p><strong></strong></p>
            <p>&Egrave; necessario avere il proprio portatile con una VM ubuntu 14.04 con docker installato (seguendo la procedura online in modo da avere l&rsquo;ultima release disponibile). Docker consiglia ubuntu per il supporto nativo ad aufs.</p>
            <p><strong></strong></p>
            <h4>Programma:</h4>
            <p>Di seguito l&rsquo;Agenda della giornata.</p>
            <p><strong></strong></p>
            <h5>&ndash; Intro to containers</h5>
            <p><strong></strong></p>
            <p>Containers vs virtualization</p>
            <p>Containers for isolation</p>
            <p>Shipping containers</p>
            <p>Docker, containers and images</p>
            <p>Running and managing containers</p>
            <p>Building images</p>
            <p>Managing and distributing images</p>
            <h5>&ndash; Dockerfile: FROM, RUN, ADD, ENV&hellip;</h5>
            <p><strong></strong></p>
            <p>Container and service?</p>
            <p>Volumes and data volumes</p>
            <p>Bind and managed</p>
            <p>Link</p>
            <p>Demo (AWS)</p>
            <h5>&ndash; Networking</h5>
            <p><strong></strong></p>
            <p>Container Network Model</p>
            <p>Demo (AWS)</p>
            <h5>&ndash; Manage resources</h5>
            <p><strong></strong></p>
            <p>Memory limits, CPU, Access to devices</p>
            <h5>&ndash; Container Security</h5>
            <p><strong></strong></p>
            <p>Seccomp, Userns, Capabilities&hellip;</p>
            <h5>&ndash; Clustering and orchestrator: swarm modeHost distribution: machine</h5>
            <p><strong></strong></p>
            <p>Demo (AWS)</p>
            <p>Swarm network model</p>
            <h5>&ndash; Manage complex architecture: compose</h5>
            <p><strong></strong></p>
            <p>Demo (AWS)</p>
            <h4>Docente:</h4>
            <p>Francesco Tornieri, si occupa di sicurezza informatica e di sistemi open-source da oltre quindici anni. Ha pubblicato numerosi articoli su riviste come Linux Journal e Hakin9. E&rsquo; autore del libro &ldquo;Linux. Configurarlo al meglio&rdquo;. &Egrave; membro dell&rsquo;AIPSI &ndash; Associazione Italiana Professionisti Sicurezza Informatica. E&rsquo; certificatore CAcert per certificati SSL. Ricopre la carica di assistente universitario presso l&rsquo;Universit&agrave; Cattolica di Milano, cattedre di &ldquo;Informatica 2&rdquo; e &ldquo;Sistemi operativi per le banche on-line&rdquo;. E&rsquo; trainer certificato Docker.</p>
            <p><strong></strong></p>
            <h4>FAQ:</h4>
            <p>Come posso ottenere la Fattura una volta acquistato il Corso?</p>
            <p><strong>Invia la richiesta di fatturazione all&rsquo;indirizzo info@kiratech.it, e sar&agrave; nostra cura inviarti la fattura il prima possibile.</strong></p>
</div>



<div class="container">
    <h4 class="headline wow fadeInDown" data-wow-delay="0.1s">Prendi il biglietto</h4>
    <p>I workshop saranno svolti presso il Palazzo dei Congressi Lugano. L'acquisto del workshop da diritto all'accesso gratuito alla conferenza del giorno seguente.</p>
    <div class="eventbrite-container">
        <iframe  src="//eventbrite.it/tickets-external?eid=33457560464&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.it/r/etckt">Eventbrite</a></div>
    </div>
</div>

        </div>
    </div>