
<header id="top" class="header">
    <div class="container">
        <div class="header_top-bg1">
            <div class="logo">
                <a href="#" class="heading fadeInDown">
                    <h1>Corso Docker
                    </h1>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>Description:</h4>
            <p><b>Docker</b> is an open source project that automates the applications deployment into <b>Container software</b>, providing an additional abstraction thanks to virtualization at the level of the operating system. Docker uses the <b>isolating feature of the Kernel Linux resources</b>, for example cgroups and namespaces, in order to allow to independent containers to coexist on the same instance, avoiding the installation and maintenance of a virtual machine.
            </p>
            <p><strong></strong></p>
            <h4>Intro:</h4>
            <p>The workshop will <b>introduce the Docker ecosystem</b> and the principle concepts related to containers world.</p>
            <p><strong></strong></p>
            <p>During the workshop, there will be some presentations and exercises on advanced topics: demo from AWS instances (swarm and overlay included) with images based on alpine and the new security and data volume features.
            </p>
            <p><strong></strong></p>
            <h4>Prerequisites:</h4>
            <p>Everyone must bring his own laptop with an ubuntu 14.04 VM with Docker installed (follow the <a href="https://docs.docker.com/engine/installation/">online procedure</a> in order to have the latest release installed). Docker suggests Ubuntu for the native aufs support. 
            </p>
            <p><strong></strong></p>
            <p>&Egrave; necessario avere il proprio portatile con una VM ubuntu 14.04 con docker installato (seguendo la procedura online in modo da avere l&rsquo;ultima release disponibile). Docker consiglia ubuntu per il supporto nativo ad aufs.</p>
            <p><strong></strong></p>
            <h4>Program:</h4>
            <p>The workshop will take place on May 23rd 2017 in “Palazzo dei Congressi Lugano”, Piazza Indipendenza 4 - 6900 Lugano, Svizzera
            <br>Please find below the Agenda of the day:</p>
            <p><strong></strong></p>
            <h5>&ndash; Intro to containers</h5>
            <p><strong></strong></p>
            <p>Containers vs virtualization</p>
            <p>Containers for isolation</p>
            <p>Shipping containers</p>
            <p>Docker, containers and images</p>
            <p>Running and managing containers</p>
            <p>Building images</p>
            <p>Managing and distributing images</p>
            <h5>&ndash; Dockerfile: FROM, RUN, ADD, ENV&hellip;</h5>
            <p><strong></strong></p>
            <p>Container and service?</p>
            <p>Volumes and data volumes</p>
            <p>Bind and managed</p>
            <p>Link</p>
            <h5>&ndash; Networking</h5>
            <p><strong></strong></p>
            <p>Container Network Model</p>
            <h5>&ndash; Manage resources</h5>
            <p><strong></strong></p>
            <p>Memory limits, CPU, Access to devices</p>
            <h5>&ndash; Container Security</h5>
            <p><strong></strong></p>
            <p>Seccomp, Userns, Capabilities&hellip;</p>
            <h5>&ndash; Clustering and orchestrator: swarm modeHost distribution: machine</h5>
            <p><strong></strong></p>
            <p>Swarm network model</p>
            <h5>&ndash; Manage complex architecture: compose</h5>
            <p><strong></strong></p>
            <p>During the Workshop the trainer will make some live Demo using the AWS cloud.
            </p>
            <h4>The trainer:</h4>
            <p><b>Francesco Tornieri</b>: Francesco deals with information security and open-source systems for over fifteen years. He has published several articles in journals, like Linux Journal and Hakin9. He is the author of the book "Linux. Configurarlo al meglio. " He is a member of AIPSI - Italian Association of IT Security Professionals. Francesco is a CAcert auditor for SSL certifications. He is an honorary fellowship at the Catholic University of Milan, chairs of "Computer 2" and "Operating systems for on-line banks". He is a Docker Certified trainer. 
            </p>
</div>



<div class="container">
    <h4 class="headline wow fadeInDown" data-wow-delay="0.1s">Prendi il biglietto</h4>
    <p>I workshop saranno svolti presso il Palazzo dei Congressi Lugano. L'acquisto del workshop da diritto all'accesso gratuito alla conferenza del giorno seguente.</p>
    <div class="eventbrite-container">
        <iframe  src="//eventbrite.it/tickets-external?eid=33457560464&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.it/r/etckt">Eventbrite</a></div>
    </div>
</div>

        </div>
    </div>